* {
  box-sizing: border-box;
}

.container {
  border: 1px solid black;
  margin: auto;
  /* padding: 10%; */
  width: 600px;
  height: 600px;
}

.box {
  /* border: 2px solid red; */
  padding: 1%;
}
